.header__lang-link_active_rus {
    max-width: 30px;
    min-height: 28px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.header__lang-link_active_rus:hover {
    opacity: 0.7;
}

@media screen and (max-width: 767px) {
    .header__lang-link_active_rus {
        max-width: 22px;
        min-height: 20px;
        font-size: 18px;
        line-height: 20px;
        position: relative;
    }
}
