.footer__list-links {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

@media screen and (max-width: 767px) {
    .footer__list-links {
        display: grid;
        grid-template-columns: minmax(74px, max-content);
        grid-template-rows: repeat(5, 24px);
        grid-row-gap: 32px;
        grid-auto-flow: column;
    }
}
