.lead__subtitle {
    max-width: 640px;
    min-height: 72px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.20;
    margin: 32px auto 0 auto;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        margin: 16px auto 0 auto;
        max-width: 288px;
        min-height: 40px;
        font-size: 16px;
        line-height: 20px;
        position: relative;
    }
}
