.place__link {
  max-width: 456px;
  min-height: 22px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */
  text-decoration-line: underline;
  color: #FFFFFF;
}

.place__link:hover {
        background: #DADADA;
}

@media screen and (max-width:1279px) {
    .place__link {
        max-width: 456px;
        min-height: 22px;
    }
}

@media screen and (max-width:1023px) {
    .place__link {
        max-width: 352px;
        min-height: 22px;
    }
}

@media screen and (max-width: 767px) {
    .place__link {
        max-width: 288px;
        min-height: 22px;
    }
}