.footer {
max-width: 1184px;
min-height: 18px;
margin: 0 auto 24px auto;
display:flex;
flex-direction:row;
justify-content:space-between;
}

@media screen and (max-width:1279px) {
    .footer {
        max-width: 928px;
        min-height: 18px;
<<<<<<< HEAD
    }
=======
>>>>>>> 7bfa9539468fdffd062cfa0f38c6720df834290c
}

@media screen and (max-width:1023px) {
    .footer {
        max-width: 720px;
        min-height: 18px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        max-width: 288px;
        min-height: 310px;
        margin: 0 auto 24px auto;
        padding: 0 16px 0 16px;
        flex-direction: column;
    }
}